<!DOCTYPE html>
<html lang="en">
  {% include "_head.jinja" %}
  <body>

    <header>
      <h1>{% block h1 %} {% endblock %}</h1>
    </header>

  {% include "_nav.jinja" %}

    <main>
      {% block main %}  {% endblock %}
    </main>

  {% include "_footer.jinja" %}

  </body>
</html>
